{% extends '_helpers/_base.html' %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
    <h2>Contacts list</h2>
    <p>C.R.U.D ops through forms.</p>
        <tr>
            <td>Full Name</td>
            <td>Phone number</td>
            <td>Date of birth</td>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{contact.full_name }}</td>
                <td>{{contact.phone_number}}</td>
                <td>{{contact.date_of_birth}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}