{% extends '_helpers/_base.html' %}


{% block content %}
    <div id="rotate-words">
<div>Welcome to the <br />  <span>my website</span></div>
<div>Here I will extend<br />  <span>my first Django project</span></div>
<div>So, please be patient<br />  <span>and soon</span></div>
<div>A great result<br />  <span>will not be long in coming</span></div>
<div>Welcome to the<br />  <span>my website</span></div>
<div>Here I will extend<br />  <span>my first Django project</span></div>
<div>So, please be patient<br />  <span>and soon</span></div>
<div>A great result<br />  <span>will not be long in coming</span></div>
</div>

{% endblock %}
