{% load static %}


<header class="header-example">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Navbar
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="fa-sharp fa-solid fa-house"></i> Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'greetings:greet' %}"><i class="fa-solid fa-hand"></i>
                            Greetings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userdata:index' %}"><i class="fa-sharp fa-solid fa-user"></i>
                            User Data generator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts:read' %}"><i class="fa-sharp fa-solid fa-phone"></i>
                            Contacts list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'session_info:index' %}"><i
                                class="fa-sharp fa-solid fa-circle-info"></i> Session info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'middleware:all_info' %}"><i
                                class="fa-sharp fa-solid fa-circle-info"></i> Middleware</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
                    <span class="badge bg-secondary">
                    {% if request.user.is_authenticated %}
                        {{ user.username }}                         {% if user.avatar %}
                        <img class="user_icon" src="{{ user.avatar.url }}" alt="{{ user.username }}"/>
                    {% endif %}|
                        <a href="{% url 'auth:settings' user.pk %}" class="btn btn-secondary">Profile settings</a>
                        <a href="{% url 'auth:logout' %}" class="btn btn-secondary">Log Out</a>
                    {% else %}
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'auth:auth' %}" class="btn btn-secondary">Sign Up</a>
                            <a href="{% url 'auth:login' %}" class="btn btn-secondary">Log In</a>
                        </div>
                    {% endif %}
                </span>
</header>

