.my-element-style {
    width: fit-content;

    border-radius: 5px;
    border: 1px solid blue;

    margin: .5em;
    padding: .2em;

    background-color: #08c259;
    text-shadow: 1px 1px 2px white;

    box-shadow: 0.1em 0.1em 0.5em rgba(255, 0, 0, 0.5);
}

.my-element-style:hover {
    box-shadow: 1em 1em 1em rgb(255, 0, 0);
}